@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
}

*, *::-webkit-scrollbar {
  scrollbar-width: thin; /* Firefox fallback */
  scrollbar-color: #4a4a4a #2c2c2c; /* Firefox fallback */
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #313030;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background: #4a4a4a;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #6e6e6e;
}